include pyzx_param/js/zx_editor_model.js
include pyzx_param/js/zx_editor_widget.js
include pyzx_param/js/zx_viewer.js
include pyzx_param/js/d3.v5.min.js
include pyzx_param/js/zx_viewer.inline.js
include pyzx_param/js/zx_viewer3d.js
include pyzx_param/py.typed
include readme.md
include LICENSE
